---
layout: listicle
title: Behavioral Econ & Psych Books
subtitle: Behavioral Economics and Social Psychology Book Recommendations
allpeoplepics: /assets/images/listicle/dan_ariely.jpg
image: /assets/images/listicle/social_science.jpg
description: Dan Ariely, Brene Brown, Richard Thaler, Malcolm Gladwell, Stephen J. Dubner, and Steven Pinker recommend their favorite books
redirect_from: /behavioural-economics-social-psychology-book-recommendations/
---

<!-- Main -->
<div id="listicle" class="alt">
  <!-- One -->

  <section id="listicle-intro">
    <h1>Behavioural Economics and Social Psychology Book Recommendations</h1>
  </section>

  {% for social_science in site.social_sciences %}

  <section id="listicle-bio">
    <div class="bio-content">
      <div class="profile">
        <div class="profilepic">
          <img
            src="{{ social_science.image }}"
            alt="{{ social_science.name }}, {{ social_science.title }}"
          />
        </div>
        <div class="profilebio">
          <h3>{{ social_science.name }}</h3>
          <h4>{{ social_science.title }}</h4>
        </div>
      </div>
      <p>{{ social_science.content | markdownify }}</p>
      <details class="attribution">
        <summary>Sources</summary> Bio: {{ social_science.bioattribution }}
        <br />Books: {{ social_science.bookattribution }} <br />Images:
        {{ social_science.imageattribution }}
      </details>
    </div>
  </section>

  <section id="listicle-books">
    <div class="booktile">
      {% for book in site.data[social_science.person].books %}

      <div class="book-card">
        <span class="bookimage"
          ><img src="{{ book.book_cover }}" alt="{{ book.info }}"
        /></span>
        <span class="descriptionbuy">
          <p>{{ book.description }}</p>
        </span>
        <div class="bookbuttons">
          <details>
            <summary class="button small yellow readmore">Read More</summary>
            <div class="expanded">
              <p>{{ book.full_description }}</p>
            </div>
          </details>
          <a href="{{ book.amazon_link }}" class="button small specialdark buy"
            >Buy</a
          >
        </div>
        <div class="border"></div>
      </div>

      {% endfor %}
    </div>
  </section>

  {% endfor %} {% include recent-post.html %}

  <section class="subscribe" id="mc-embed-signup">
    <header class="major center"><h2>SUBSCRIBE & READ MORE</h2></header>
    <div class="form-container">
      <form
        action="{{ site.mailchimp }}"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <p>Want more books? Sign up for our newsletters.</p>
        <div class="newsletter-box" id="mc_embed_signup_scroll">
          <input
            type="email"
            name="EMAIL"
            class="email-input"
            id="mce-EMAIL"
            value="Email address"
            onfocus="if(this.value==this.defaultValue)this.value='';"
            onblur="if(this.value=='')this.value=this.defaultValue;"
          />
          <input
            type="submit"
            value="Subscribe"
            name="subscribe"
            class="button"
            id="mc-embedded-subscribe"
          />
        </div>
      </form>
    </div>
  </section>
</div>
