---
sitemap: false
---

<!DOCTYPE html>

<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="survey" style="background-image: none;">
      <div class="inner">
        <header class="major">
          <h1 class="light align-center">Books recommended by smart people.</h1>
        </header>
        <div class="survey-content">
          <h3 class="light">Thanks for subscribing!</h3>
          <p class="light">
            We want to give you content you'll enjoy, we'd appreciate your help
            in answering these questions!
          </p>

          <form
            class="homesurvey"
            name="subscription_survey"
            method="POST"
            netlify
          >
            <br />
            <label name="marketing"
              >Which 1-3 topics are you interested in reading about?</label
            >
            <div style="width: 50%; float: left;">
              <input
                type="checkbox"
                name="topics"
                value="self_improvement"
              />Self-improvement<br />
              <input
                type="checkbox"
                name="topics"
                value="entrepreneurship"
              />Startups & Entrepreneurship<br />
              <input
                type="checkbox"
                name="topics"
                value="behavioural_economics"
              />Behavioural Economics<br />
              <input
                type="checkbox"
                name="topics"
                value="leadership"
              />Leadership & Management<br />
              <input
                type="checkbox"
                name="topics"
                value="artificial_intelligence"
              />Technology (Artificial Intelligence, Blockchain, etc.)<br />
              <input type="checkbox" name="topics" value="design" />Design<br />
            </div>
            <div style="width: 50%; float: right;">
              <input
                type="checkbox"
                name="topics"
                value="software_dev"
              />Software Development<br />
              <input
                type="checkbox"
                name="topics"
                value="psychology"
              />Psychology<br />
              <input type="checkbox" name="topics" value="psychology" />Personal
              Finance/Investing<br />
              <input
                type="checkbox"
                name="topics"
                value="history"
              />History<br />
              <input
                type="checkbox"
                name="topics"
                value="politics"
              />Politics<br />
              <input
                type="checkbox"
                name="topics"
                value="biographies"
              />Biographies of Successful People<br />
            </div>
            Other<input
              style="border: 1px solid white;"
              type="text"
              name="topics"
              id="other-topics"
            />
            <br />

            <label name="occupation">Which field(s) do you work in?</label>
            <input
              type="checkbox"
              name="occupation"
              value="Business"
            />Business/Entrepreneurship<br />
            <input type="checkbox" name="occupation" value="Tech" />Technology
            (Software Dev, Product Management)<br />
            <input
              type="checkbox"
              name="occupation"
              value="Writing"
            />Writing/Journalism<br />
            <input
              type="checkbox"
              name="occupation"
              value="Design"
            />Design<br />
            <input
              type="checkbox"
              name="occupation"
              value="Student"
            />Student<br />
            <input type="checkbox" name="occupation" value="NA" />Would rather
            not say<br />
            Other<input
              type="text"
              style="border: 1px solid white;"
              name="occupation"
              id="other-work"
            />
            <br />
            <label
              >Have more suggestions? Feel free to
              <a href="mailto:hello@wisebooks.io?Subject=Feedback"
                >reach out to us.</a
              ></label
            >

            <input type="submit" value="Submit" name="submit" class="button" />
          </form>
        </div>
      </div>
    </section>

    <div id="main">{% include tiles.html %}</div>

    {% include footer.html %}
  </body>
</html>
