---
sitemap: false
---

<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="survey" style="background-image: none;">
        <div class="inner">
            <header class="major">
                <h1 class="light align-center">Books recommended by smart people.</h1>
            </header>
            <div class="survey-content">
                <h3 class="light">Thanks for subscribing!</h3>
                <p class="light">We want to give you content you'll enjoy, we'd appreciate your help in answering these questions!</p>


                <form class="homesurvey" name="subscription_survey" method="POST" netlify>

                    <label name="people">Which areas are you interested in seeing world-class people from?</label>
                        <input type="checkbox" name="people" value="Business"/>Business (Entrepreneurs, Venture Capitalists, CEOs, etc.)<br>
                        <input type="checkbox" name="people" value="Design"/>Design (Graphic Designers, Industrial Designers, UX/UI Designers, etc.)<br>
                        <input type="checkbox" name="people" value="Politics"/>Politics<br>
                        <input type="checkbox" name="people" value="Arts_Entertainment"/>Arts/Entertainment (Musicians, Artists, Actors)<br>
                        <input type="checkbox" name="people" value="Author"/>Writers (Journalists, Authors, etc.)<br>
                
                        
                        <br>           
                        <label name="content">What kind of content would you like to see?</label>
                            <input type="checkbox" name="content" value="book_recommendations">Just book recommendations<br>
                            <input type="checkbox" name="content" value="interviews">Long-form interviews from world-class people<br>
                            <input type="checkbox" name="content" value="subject_recommendations">Book recommendations grouped by topics (e.g. Best Product Management Books Recommended by Top PMs)<br>
                        <br>

                        <label name="occupation">Which field(s) do you work in?</label>
                            <input type="checkbox" name="occupation" value="Business"/>Business/Entrepreneurship<br>
                            <input type="checkbox" name="occupation" value="Tech"/>Technology (Software Dev, Product Management)<br>
                            <input type="checkbox" name="occupation" value="Writing"/>Writing/Journalism<br>
                            <input type="checkbox" name="occupation" value="Design"/>Design<br>
                            <input type="checkbox" name="occupation" value="Student"/>Student<br>
                            <input type="checkbox" name="occupation" value="Other"/>Other<br>
                            <input type="checkbox" name="occupation" value="NA"/>Would rather not say<br>      
                        <br>
                        <label>Have more suggestions? Feel free to <a href="mailto:hello@wisebooks.io?Subject=Feedback">reach out to us.</a></label>

                        <input type="submit" value="Submit" name="submit" class="button"/>
                </form>
            </div>
        </div>
    </section>

    <div id="main">

        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>
