---
layout: listicle
title: Political Leaders
subtitle: Books Recommended by Powerful Political Leaders  
allpeoplepics:
image: /assets/images/listicle/political-leaders.jpg
description: Political leaders Vladimir Putin, Justin Trudeau, Xi Jinping, Hillary Clinton, Tsai Ing-wen
category: Politician
redirect_from: /political-leaders/
---
    
<!-- Main -->
	<div id="listicle" class="alt">

<!-- One -->

		<section id = "listicle-intro">
			<h1>Books Recommended by Powerful Political Leaders</h1>
		</section>

		{% for politician in site.politicians %}

		<section id = "listicle-bio">
							
				<div class="bio-content">

					<div class="profile">
							<div class="profilepic">
							<img src="{{politician.image}}" alt="{{politician.name}}, {{politician.title}}"/>
							</div>
							<div class="profilebio">
								<h3>{{politician.name}}</h3>
								<h4>{{politician.title}}</h4>
							</div>
					</div>
                                <p>{{ politician.content | markdownify }}</p>
                                <details class="attribution">
                                    <summary>Sources</summary>
                                        Bio: {{politician.bioattribution}}
                                        <br>Books: {{ politician.bookattribution }}
                                        <br>Images: {{politician.imageattribution}}
                                </details>
				</div>

		</section>

		<section id="listicle-books">
			<div class="booktile">

				{% for book in site.data[politician.person].books %}

					<div class = "book-card">
						<span class="bookimage"><img src="{{book.book_cover}}" alt="{{ book.info}}"/></span>
						<span class="descriptionbuy">
						<p>{{book.description}}</p>
						</span>
							<div class="bookbuttons">
								<details>
									<summary class="button small yellow readmore">Read More</summary>
										<div class="expanded">
											<p>{{book.full_description}}</p>
										</div>	

								</details>
								<a href="{{book.amazon_link}}" class="button small specialdark buy">Buy</a>
							</div>	
						<div class="border"></div>
					</div>
			
				{% endfor %}

			</div>

		</section>

		{% endfor %}

		{% include recent-post.html %}

			<section class="subscribe" id="mc-embed-signup">
				<header class="major center"><h2>SUBSCRIBE & READ MORE</h2></header>
				<div class="form-container">
				<form action="{{ site.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<p>Want more books? Sign up for our newsletters.</p>
					<div class="newsletter-box" id="mc_embed_signup_scroll">
					<input type="email" name="EMAIL" class="email-input" id="mce-EMAIL" value="Email address" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
					<input type="submit" value="Subscribe" name="subscribe" class="button" id="mc-embedded-subscribe"/>
					</div>
				</form>
				</div>
			</section>

	</div>
