---
layout: listicle
title: Writers Edition
subtitle: Books Recommended by Stephen King, Neil Gaiman, Susan Cain, and Kara Swisher
allpeoplepics:
image:
description: Books Recommended by Powerhouse Writers&58; Stephen King, Neil Gaiman, Susan Cain, and Kara Swisher
category: Author
---
    
<!-- Main -->
	<div id="listicle" class="alt">

<!-- One -->

		<section id = "listicle-intro">
			<h1>Books Recommended by Powerhouse Writers</h1>
			<br>
			<br>
			<p>We've been getting a lot of feedback from our readers asking for lists of writers and their favorite books. So here it is! Whether you're looking for some writing inspiration or just another good book to read, here's our first list of books recommended by powerhouse writers.</p>
		</section>

		{% for author in site.authors %}

		<section id = "listicle-bio">
							
				<div class="bio-content">

					<div class="profile">
							<div class="profilepic">
							<img src="{{author.image}}"/>
							</div>
							<div class="profilebio" style="width: 50%;">
								<h3>{{author.name}}</h3>
								<h4>{{author.title}}</h4>
							</div>
					</div>
                                <p>{{ author.content | markdownify }}</p>
                                <details class="attribution">
                                    <summary>Sources</summary>
                                        Bio: {{author.bioattribution}}
                                        Books: {{ author.bookattribution }}
                                        Images: {{author.imageattribution}}
                                </details>
				</div>

		</section>

		<section id="listicle-books">
			<div class="booktile">

				{% for book in site.data[author.person].books %}

					<div class = "book-card">
						<span class="bookimage"><img src="{{book.book_cover}}" alt="{{ book.info}}"/></span>
						<span class="descriptionbuy">
						<p>{{book.description}}</p>
						</span>
							<div class="bookbuttons">
								<details>
									<summary class="button small yellow readmore">Read More</summary>
										<div class="expanded">
											<p>{{book.full_description}}</p>
										</div>	

								</details>
								<a href="{{book.amazon_link}}" class="button small specialdark buy">Buy</a>
							</div>	
						<div class="border"></div>
					</div>
			
				{% endfor %}

			</div>

		</section>

		{% endfor %}

			<section class="subscribe" id="mc-embed-signup">
				<header class="major center"><h2>SUBSCRIBE & READ MORE</h2></header>
				<div class="form-container">
				<form action="{{ site.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<p>Want more books? Sign up for our newsletters.</p>
					<div class="newsletter-box" id="mc_embed_signup_scroll">
					<input type="email" name="EMAIL" class="email-input" id="mce-EMAIL" value="Email address" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
					<input type="submit" value="Subscribe" name="subscribe" class="button" id="mc-embedded-subscribe"/>
					</div>
				</form>
				</div>
			</section>

	</div>
