---
layout: page
---

<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1 class="light align-center">Books recommended by smart people.</h1>
            </header>
            <div class="content">
                <p class="light">{{ page.landing-description }}</p>
                <p class="light">{{ page.landing-subdescription }}</p>
            </div>
                <p class="light align-center">Thank you! You're the best!</p>
        </div>
    </section>

    <div id="main">

        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>
