<head>
	{% if page.layout == 'post' %}<title>{{page.title}}'s Favorite Books | Wisebooks</title>
	{% else %}<title>Wisebooks | {{page.title}}</title>
	{% endif %}

	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
	<link rel="shortcut icon" href="/Favicon.png" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	{% if page.description %}
	<meta name="description" content="{{page.description}}">{% else %}
	<meta name="description" content="{{site.description}}">{% endif %}
	{% seo %}
	{% seo.title=false %}

	{% if site.tags != "" %}
	{% include collecttags.html %}
	{% endif %}

	{% include analytics.html %}
	{% feed_meta %}

</head>