
    
  <section id="recent-post">
    <header class="major-yellow center"><h2>OTHER POSTS YOU'LL LIKE</h2></header>

    <div class="innerpeople">   

        {% for post in site.posts offset:0 limit:3 %} 
          {% if post.redirect_to != page.url %}

        <div class="box">
						<h3 class="underline">{{post.title}}</h3>
						{% if post.allpeoplepics %}<span class="image left"><img class="peopleimg" src="{{site.baseurl}}/{{ post.allpeoplepics }}" alt="{{post.title}}" /></span>{% endif %}
						<div class="box-description">
							<p>{{ post.description }}</p>
							<a href="{{ post.redirect_to }}" class="button small align-right">Read more</a>
						</div>
        </div>
        
          {% endif %}
            
        {% endfor %}

    </div>

  </section>