
/* Form */

.contactform {
	background-color: _palette(mainyellow);

	/* unsubscribe form */

	.unsubscribe {
		width: 50%;
		margin: 0 auto;
		padding-top: 2em;
		height: 120vh;

		@include breakpoint(medium) {
			width: 90%;
			height: 80vh;
		}

		@include breakpoint(small) {
			height: 120vh;
		}

		.overlay-contact {

			h1 {
				font-size: 4em;

				@include breakpoint(small) {
					font-size: 2.5em;
				}
			}
		}
		

		.contactus {
			margin-bottom: 0;

			form {

				padding: 2em 2em 7em 2em;

				#other {
					width: 50%;

					@include breakpoint(small) {
						width: 100%;
					}
				}

				.specialdark {
					float: right;
					margin: 3em 0 0 0;

					@include breakpoint(small) {
						width: 100%;
					}
			}	}
		}
	}

	/* contact us form */


	.imgbanner-contact {
		height: auto;
		max-height: 25vh;
		box-shadow: 2px 0 10px rgba(0, 0, 0, .5);
		position: relative;
		overflow: hidden;
		width: 100%;

		@include breakpoint(medium) {
			height: 20vh;
		}

		@include breakpoint(small) {
			height: 15vh;

		}

		img {
			width: 100%;
			@include breakpoint(small) {
				width: 180%;
			}
		}
	}
		.overlay-contact { 
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0; 
			left: 0;
			right: 0;
			background-color: rgba(0,0,0,0.4) !important;
		
			h1 {
			top: 3vh;
			position: absolute;
			width: 100%;
			text-align: center;
			color: _palette(mainyellow);
			text-transform: uppercase;
			font-size: 7em;
			text-shadow: 4px 3px 0px rgba(247, 206, 60, 0.5), 9px 8px 0px rgba(0,0,0,0.3);

				@include breakpoint(medium) {
					top: 0;
				}

				@include breakpoint(small) {
					top: 0.5em;
					font-size: 2.5em !important;
				}
			}
		}
}

	.contactus {
		margin-bottom: 3em;

		p {
			text-align: center;
		}

		form {
			padding: 2em 2em 5em 2em;
			margin: 0 0 _size(element-margin) 0;
			background-color: rgba(255, 255, 255, 0.9);
			box-shadow: 0 5px 10px rgba(0, 0, 0, .5);

			.field {
				margin: 0 0 (_size(element-margin) * 1) 0;
				padding: 2em;

				&.half {
					width: 50%;
					float: left;

				}
			}

			.actions {

				float: right;
				padding-right: 2em;
				
				li {
					padding: 0 !important;
				}
			}
			
			@include breakpoint(small) {

				.field {
					margin: 2em 0 0 0;
					padding: 0;

					.half {
						padding: 0.5em;
						.first {
							padding: 0.5em;
							margin: 0;
						}
					}
				}

				.actions {
					margin: 3em; 
					float: none;
					padding: 0;
					display: flex;
					flex-direction: column;
					align-items: center;

					input[type="submit"] {
						margin-bottom: 3em;

					}

				}
			}	

			@include breakpoint(xsmall) {

				.field {
					&.half {
						width: 100%;
						float: none;
						padding-top: 0.5em;

						&.first {
							padding-top: 0.5em;
						}
					}
				}
			}
		}

	}

	label {
		color: _palette(maingray);
		display: block;
		font-size: 0.8em;
		font-weight: _font(weight-bold);
		letter-spacing: _font(letter-spacing-alt);
		margin: 0 0 (_size(element-margin) * 0.5) 0;
		text-transform: uppercase;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		@include vendor('appearance', 'none');
		background: rgba(128, 128, 128, 0.01);
		border: 0.5px solid _palette(maingray);
		border-radius: 2px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;

		&:invalid {
			box-shadow: none;
		}

		&:focus {
			border-color: _palette(highlight);
			box-shadow: 0 0 0 2px _palette(highlight);
		}
	}

	.select-wrapper {
		@include icon;
		display: block;
		position: relative;

		&:before {
			color: _palette(border);
			content: '\f078';
			display: block;
			height: _size(element-height);
			line-height: _size(element-height);
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: _size(element-height);
		}

		select::-ms-expand {
			display: none;
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: _size(element-height);
	}

	textarea {
		padding: 0.75em 1em;
	}

	::-webkit-input-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	