#recent-post {
    margin: 2em;
    .innerpeople {
        .box {
            width: 30%;
            margin: 0 auto;

            @include breakpoint (medium) {
                width: 80%;
            }

            header.major-yellow {
                @include breakpoint(small) {
                    max-width: 100% !important;
                }
            }

            h2 {
                text-align: center;
            }
        }
    }
}