/*subscription box on homepage*/

.homesubscription{
  display: flex;
  -ms-display: flex;
  margin-left: 0 !important;
  margin-top: 1em;
  background-color: rgba(0,0,0,0);
  box-shadow: none;

  .email-input {
    background-color: rgba(212,212,255,0.1) !important;
    margin-right: 0.5em;
    color: white !important;
    display: flex;
  }
  .button {
    display: flex;
    width: 100%;
    -ms-flex: 0;
    padding: 0;
    justify-content: center;
  }
}

