<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
	<div id="main" class="alt">
        <div class="inner">

            <div class="about_us">

                <header class="major-yellow"><h1 style="text-align: center; margin: 0 auto;">A Letter From the Team</h1></header>
                <span>
                    <p>Hello world!</p>
                    <p>Wisebooks team here; we wanted to say that we’ve loved meeting you, 
                        dropping books in your inbox, and making “To Read” book lists impossibly long. 
                        We’ve gotten some requests for you to meet us too so here we are, and of course, 
                        some of the books that have helped shape us. 
                    </p>
                    <p>We’re a team of two and we pretty much spend all of our time together talking about interesting things so we decided 
                        to do something interesting instead. We focussed that energy into one problem:
                         there are so many books and so little time (not a bad problem to have tbh).
                    </p>
                    <p>
                        Everytime we finish a book, there’s a list of 100+ books in some note-taking app 
                        (jk the best note-taking app ever, OneNote) on our computers and phones. 
                        “Which one should I pick up next??!!!” is the question we want to answer and that’s where Wisebooks comes in. 
                        We want to take care of what book you’ll read next.
                    </p>
                </span>
                    <h1>Meet Jenny</h1>
                    <div class="about_bio">
                        <div class="about_bio_image">
                            <img class="aboutus_img" src="{{ site.baseurl }}/assets/images/jenny_kim.jpg"/>
                        </div>
                        <div class="about_bio_text">
                            <p>I'm really into learning and about tech and building products.
                            I've been learning how to code over the years, and I love learning about anything machine learning or blockchain-related.</p>
                            <p>Here are my most recommended books:</p>
                            <ul>
                                <li>
                                    <a href="https://amzn.to/2zpclXj">Principles by Ray Dalio</a>
                                    <br>I’ve incorporated many of Dalio’s work and life principles into my everyday life  
                                    frequently referencing back to it when I’m making decisions.
                                </li>
                                <li>
                                    <a href="https://amzn.to/2zpfqqA">Predictably Irrational by Dan Ariely</a>
                                    <br>Eye-opening behavioural economics book – human beings are far from rational when it comes to a lot of our decision making.
                                </li>
                                <li>
                                    <a href="https://amzn.to/2xLv39F">The Five People you Meet in Heaven by Mitch Albom</a>
                                    <br>My favorite book as a child. I’ve revisited it time and time again in my life gaining different perspectives each time I’ve gone back. 
                                </li>
                            </ul>
                        </div>    
                    </div>

                    <h1>Meet Christine</h1>
                    <div class="about_bio">
                        <div class="about_bio_image">
                            <img class="aboutus_img" src="{{ site.baseurl }}/assets/images/christine_tan.jpg"/>
                        </div>
                        <div class="about_bio_text">
                            <p>I was really into politics for most of 2017 and 2018 so I'm really familiar with select political situations around the world, mostly in the East (think Ukraine, Myanmar, North Korea, etc.). 
                                In 2019, I'm probably going to focus on learning some data science stuff, but also continuing to dabble in my politics addiction from 2018. </p>
                            <p>Here are the books I recommend. Note: these are not the best books, the best stories, but the important ones that have made me think differently over the years.
                            </p>
                        </div>
                    </div>

                    <ul style="margin-top: 2em;">
                            <li>
                                <a href="https://amzn.to/2I86Ejx">How to Win Friends and Influence People by Dale Carnegie</a>
                                <br>This wasn’t the most riveting book in its writing but it was 
                                really important to me in a certain time in my life. I love being around people but in the early years of university, making new friends made me nervous so I just 
                                excused that as introversion for the longest time. This book gave me tactics that I could use IRL to get over myself, and took on a whole new perspective to meeting people. Forget introversion/extroversion
                                 now, there’s just interesting people and interesting stories all around us.
                            </li>
                            <li>
                                <a href="https://amzn.to/2xzPFlT">4-Hour Work Week by Tim Ferriss</a>
                                <br>This was a game changer in perspective. Up until this book, I was picturing life in its default setting:
                                 9-5 workday, retire at 60ish years old, go fishing or lie on a beach or something. 
                                 This book was something that I had never even <i>thought</i> of dreaming of - it made me think: so if this is real, what else is there?
                            </li>
                            <li>
                                <a href="https://amzn.to/2zpq3cO">Ayn Rand and the World She made by Hellen Keller</a>
                                <br>I heard her being mentioned all the time in the news, among my friends, saw her on a lot of book lists so when I came across this book in the library, 
                                I took it home with me. It was a biography, so kind of like an observation of her beliefs but it was a door to the rest of 
                                her philosophies that I constantly think about today. She was by no means a perfect woman, but her story is worth reading on its own and
                                 is important as a backdrop to our behaviours in the western world, today. 
                            </li>
                            <li>
                                <a href="https://amzn.to/2Nz6gjZ">The Course of Love by Alain de Botton</a>
                                <br>I heard her being mentioned all the time in the news, among my friends, saw her on a lot of book lists so when I came across this book in the library, 
                                I took it home with me. It was a biography, so kind of like an observation of her beliefs but it was a door to the rest of 
                                her philosophies that I constantly think about today. She was by no means a perfect woman, but her story is worth reading on its own and
                                is important as a backdrop to our behaviours in the western world, today. 
                            </li>
                        </ul>  


                </span>
            </div>                    
        
        </div>
			{% include footer.html %}

	</div>

</body>

</html>