<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="allposts">
	<div class="inner">
		<header class="major-yellow"><h1>All Interviews</h1></header>

		<div class="innerpeople">
				{% for interview in site.interviews %}
				<div class="box">
						<h2 class="underline">{{interview.title}}</h2>
						{% if interview.allpeoplepics %}<span class="image left"><img class="peopleimg" src="{{ site.baseurl }}/{{ interview.allpeoplepics }}" alt="{{interview.title}}" /></span>{% endif %}
						<div class="box-description">
							<p>{{ interview.description }}</p>
							<a href="{{ interview.redirect_to }}" class="button small align-right">Read more</a>
						</div>
				</div>

				{% endfor %}
		</div> 
		
	</div>
</section>

</div>

	{% include footer.html %}
	
</body>

</html>
