<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="allposts">
	<div class="inner">
		<header class="major-yellow"><h1>All People</h1></header>

		<div id="search-container">
			<span class="icon fa-search"></span>
			<input type="text" id="search-input" label="Search" placeholder="Search for people...">
			<section id="filters">
				<div class="button-group filter-button-group">
					{% assign sorted = site.categories | sort %}
						{% for category in sorted %}
							<a class="button" data-filter=".{{category | first }}">{{ category | first | remove_first:"_" }}</a>
						{% endfor %}
							<a class="button active" id="all" data-filter="*">All</a>
				</div>

			</section>
			<div id="results-container" class="search-results"></div>
		</div>
			
		<div class="search-results" id="all-results">
				{% for post in site.posts %}
				<div class="search-result box {{ post.category }}">

						<h2 class="underline">{{post.title}}</h2>
						{% if post.allpeoplepics %}<span class="image-container"><img class="peopleimg" src="{{ site.baseurl }}/{{ post.allpeoplepics }}" alt="{{post.title}}" /></span>{% endif %}
						<div class="box-description">
							<p>{{ post.description }}</p>
							<a href="{{ post.url | relative_url  }}" class="button small align-right">Read more</a>
						</div>
				</div>

				{% endfor %}
		</div> 

	
		
	</div>
</section>

</div>

	{% include footer.html %}
	
</body>

</html>
