<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="collections">
	<div class="inner">
		<header class="major-yellow"><h1>Collections</h1></header>

		<div class="innerpeople">
				<div class="box">
						<h2 class="underline">Political Leaders</h2>
						<span class="image left"><img class="peopleimg" src="../assets/images/listicle/justin_trudeau.jpeg" alt="Books recommended by Vladimir Putin, Justin Trudeau, Xi Jinping, Hillary Clinton, Tsai Ing-wen" /></span>
						<div class="box-description">
							<p>Vladimir Putin, Justin Trudeau, Xi Jinping, Hillary Clinton, Tsai Ing-wen.</p>
							<a href="/political-leaders/" class="button small align-right">Read more</a>
						</div>
				</div>
				<div class="box">
						<h2 class="underline">Top Product Managers</h2>
						<span class="image left"><img class="peopleimg" src="../assets/images/allpeoplepics/product-management.jpg" alt="Books & Resources Recommended by Top Product Managers" /></span>
						<div class="box-description">
							<p>PMs from Facebook, Dropbox, Yelp, and Wealthsimple tell us what their fave books & resources are.</p>
							<a href="/product-manager/" class="button small align-right">Read more</a>
						</div>
				</div>
				<div class="box">
					<h2 class="underline">Powerhouse Writers</h2>
					<span class="image left"><img class="peopleimg" src="../assets/images/allpeoplepics/powerhouse-writers.jpg" alt="Books Recommended by Powerhouse Writers Stephen King, Neil Gaiman, Susan Cain, and Kara Swisher" /></span>
					<div class="box-description">
						<p>Books Recommended by Powerhouse Writers Stephen King, Neil Gaiman, Susan Cain, and Kara Swisher.</p>
						<a href="/powerhouse-writers/" class="button small align-right">Read more</a>
					</div>
				</div>
				<div class="box">
					<h2 class="underline">Y Combinator Founders</h2>
					<span class="image left"><img class="peopleimg" src="../assets/images/allpeoplepics/ycombinator.png" alt="Startup Books and Resources Recommended by YC Founders" /></span>
					<div class="box-description">
						<p>Y Combinator Founders give advice and their top startup books and resources.</p>
						<a href="/YC-entrepreneur/" class="button small align-right">Read more</a>
					</div>
				</div>

		</div> 
		
	</div>
</section>

</div>

	{% include footer.html %}
	
</body>

</html>
