<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1 class="light align-center">{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <h3 class="light">Thanks for subscribing!</h3>
                <p class="light">Help us serve you better</p>

                <form class="homesurvey" name="subscription_survey" method="POST" netlify>

                <label name="people">Which areas are you interested in seeing world-class people from?
                        <input type="checkbox" name="people" value="Business"><label>Business (Entrepreneurs, Venture Capitalists, CEOs, etc.)</label></input>
                        <input type="checkbox" name="people" value="Design">Design (Graphic Designers, Industrial Designers, UX/UI Designers, etc.)</label></input>
                        <input type="checkbox" name="people" value="Politics"/><label>Politics</label>
                        <input type="checkbox" name="people" value="Arts_Entertainment"/><label>Arts/Entertainment (Musicians, Artists, Actors)</label>
                        <input type="checkbox" name="people" value="Author"/><label>Writers (Journalists, Authors, etc.)</label>
                </label>
                     
                               
                    <label>What kind of content would you like to see?</label>
                            <input type="checkbox" name="content" value="book_recommendations">Just book recommendations
                            <input type="checkbox" name="content" value="interviews">Long-form interviews from world-class people
                            <input type="checkbox" name="content" value="subject_recommendations">Book recommendations from respective experts grouped by topics (e.g. Best Product Management Books to Read Recommended by Top PMs)
                            

                    <input type="submit" value="Subscribe" name="subscribe" class="button" id="mc-embedded-subscribe"/>
                </form>
            </div>
        </div>
    </section>

    <div id="main">

        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>
