<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1 class="light align-center">{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p class="light">{{ page.landing-description }}</p>
                <form class="homesubscription">
                    <input type="email" name="email" placeholder="Email address" class="email-input"/>                 
                    <input type="submit" name="submit" class="submit button"/>
                </form>
                <div class="results_display"></div>
            </div>
        </div>
    </section>

    <div id="main">

        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>
