
/* allposts */

#allposts {

    header.major-yellow {
        margin: 0 auto;

        h1 {
            text-align: center;
        }
    }

    #search-container {
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-top: 3em;

        .fa-search {
            position: absolute;
            right: 1rem;
            top: .6rem;
        }
        input::placeholder {
            color: #1a2930 !important;
        }
    }


    #filters {
        margin: 2em 0 2em 0;

        .button-group {
            display: flex;
            flex-wrap: wrap;


        
            .button {
                margin: 0.5em;
            }
        }
    }

    .search-result {
        .image-container {
            width: 100%;
        }

        h2 {
            text-align: center;
        }

        .peopleimg {
            max-width: 210px;
            height: auto;
            border-radius: 3px;
            display: flex;
            margin: 0 auto;
        }

        .box-description {
            text-align: center;
            margin: 1em 0 0 0;

        }

    }

    #results-container, #all-results {
        display: flex;
        flex-wrap: wrap;
        .search-result {
            flex: 1 0 30%;
            margin: 5px;
            height: auto;
        }
    }

    @include breakpoint(medium) {

    }

    @include breakpoint(small) {
        #filters {
            margin-bottom: 0;
        }

    }
}