
/* allposts */

#filters {
    margin-bottom: 2em;

    .button-group {
    
        .button {
            margin: 0.5em;
        }
    }
}

	.innerpeople {
		display: flex;
		flex-wrap: wrap;
		.box {
			width: 48%;
            margin-left: 1em;
            .peopleimg {
                width: 100%;
            }
            .box-description {
                width: 55%;
                float: right;
            }

		}
    }

	@include breakpoint(medium) {
		.innerpeople {
			.box {
				width: 100%;
                margin-left: 0;
                margin-top: 2em;
			}
		}	
    }
    
    @include breakpoint(small) {
        #filters {
            margin-bottom: 0;
        }
        .innerpeople {
            .box {
                display: flex;
                flex-direction: column;
                h2 {
                    text-align: center;
                }
                .image {
                    margin: 0 auto;
                    width: 90% !important;
                    margin-bottom: 1em;
                    height: auto;
                    
                }
                .box-description {
                    width: 100%;
                    float: none;
                    text-align: center;
                }
            }

        }
    }