/* listicle */

#listicle {

	#listicle-intro {
		padding-top: 5em;
		width: 70%;
		margin: 0 auto;

    .imgbanner {
        height: 40vh;
    }

    h1 {
        padding: 1em 0.5em 1em 0.5em;
        margin: 0 auto;
        text-align: center;
        color: _palette(mainyellow);
        text-transform: uppercase;
        font-size: 3em;
        line-height: 1;
        border: 1.5px solid;
	}
	
	
	}

}

#listicle-bio {
    .bio-content {
		padding: 4em 0 0 0;
		width: 70%;
        margin: 0 auto;

        p {
            margin: 1em 0 0 0;
		}
		
		.profile {
			display: flex;
			flex-direction: row;
			margin: 5em 0 2em 0;
			align-items: center;
			justify-content: center;
		
			.profilepic {
				border-radius: 50%; 
				width: 15%; 
				height: 15%;
				img {
					width: 100%;
					border-radius: 50%;
				}
			}
		
			.profilebio {
				margin: 0 0 0 1em;
				h3 {
					margin: 0;
				}
		
				h4 {
					margin: 0 0 0.5em 0;
				}
		
				.icon.alt:before {
					background-color: _palette(mainyellow);
					color: white;
				}
			}
		}

    }    

}

#listicle-books {
	background-color: none;
	height: auto;

	.attribution {
		font-size: 1em;
		text-align: center;
		text-transform: uppercase;
		margin: 0 auto;
		font-weight: 800;
		width: 70%;
		summary {
			&:hover {
				color: _palette(mainyellow);
			}
		}
	}

	.booktile {
		display: flex;
		flex-wrap: wrap;
        margin-top: 4em !important;
        margin: 0 auto;
        width: 85%;
        
	}

    .book-card {
		width: 47%;
		height: 340px;
        background-color: _palette(fg);
		border-radius: 15px;
		margin: 0 0 1.5em 1.5em;
		position: relative;


      .bookimage {
			position: absolute;
			bottom: 15px;
			max-width: 35%;
			float: left;
			margin-top: 1em;
			margin-right: 2em;
			img {
				width: 100%;
			}
		}


		.descriptionbuy{
			position: absolute;
			right: 5px;
			max-width: 62%;
			padding: 1em;
			p {
				font-size: 0.8em;
				margin-bottom: 0.5em !important;
				
			}

		}

		.bookbuttons {
			display: inline-block;
			position: absolute;
			bottom: 30px;
			right: 50px;
			width: 40%;

			.buy {
				width: 40%;
				text-align: center;
				position: absolute;
				float: right;

			}
			
			.expanded {
				animation-name: fadeIn;
				animation-duration: 0.3s;
				background-color: white;
				width: 250%;
				height: auto;
				position: absolute;
				border-radius: 15px;
				right: -3.5em;
				top: 3em;
				z-index: 999;
				padding: 2em 2em 0 2em;
				p {
					font-size: 0.8em;
				}
			}

			.readmore {
				width: 60%;
				text-align: center;
				float: left;
				margin-right: 10px;

			}
		}



		.border {
			position: absolute;
			bottom: 0; 
			width:100%;
			height: 25px;
			background-color: _palette(mainyellow);
			border-radius: 0 0 15px 15px;
		}
	}
	

}

.subscribe {
	background-color: _palette(mainyellow);  
	text-align: center;
	border-bottom: 1px solid white;
	color: white;
	padding: 3em 0 3em 0;
  
	h2 {
	  color: white;
	  text-transform: uppercase;
	  font-weight: 800;
	}
  
	.newsletter-title {
	  font-weight: 400;
	}
	.form-container {
	  padding: 30px;
	  max-width: 50%;
	  margin: 0 auto;
	  form {
		background-color: rgba(255, 255, 255, .9);
		padding-top: 3em;
		padding-bottom: 4em;
		border-radius: 15px;
	  }
	  p {
		margin: 0;
		color: black;
	  }
	}
	.screen-reader-text {
	  clip: rect(1px, 1px, 1px, 1px);
	  height: 1px;
	  overflow: hidden;
	  position: absolute !important;
	  width: 1px;
	  word-wrap: normal !important;
	}
	.newsletter-box {
	  position: relative;
	  max-width: 50%;
	  margin: 0 auto;
	  margin-top: 1em;
	  .email-input {
		flex-grow: 1;
		width: 100%;
		max-width: 100%;
		color: black;
		border: 1px solid gray;
		border-radius: 2px;
		font-size: 13px;
		outline: none;
		position: relative;
		margin: 0 auto;
		::placeholder {
		  color: black;
		  opacity: 1;
		}
	  }
	  .button {
		width: 100%;
		margin-top: 1em;
		font-size: 0.7em;
		border-radius: 2px;
		&:hover {
		  background-color: _palette(maingray);
		}
  
	  }
	}
	}

	
	@media only screen and (min-width: 1681px) {
		
		#listicle-books {
			.booktile {
				width: 80%;
				margin: 0 auto;
			
				.book-card {
					height: 50vh;
					width: 900px;
					.bookimage {
						img {
						width: 85%;
						}
					}
					.descriptionbuy {
						font-size: 1.2em;
					}
				}

			}
		}
		
	}

	
	@include breakpoint(medium) {

			#listicle-bio {
				.inner {
					.bio-content {
						padding: 0 !important;
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 100%;

						.books {
							width: 70%;
							margin: 0 auto;
						}
					}
				}
			}

			#listicle-books {
				.booktile {
					width: 100%;
					.book-card {
						width: 100%;
						height: auto;
						display: flex;
						flex-direction: column;
						align-items: center;
						margin: 0 0 1.5em 0;
				
						.bookimage {
							position: relative;
							float: none;
							max-width: 30%;
							margin-right: 0;

							@include breakpoint(small) {

							max-width: 60%;
							}

							bottom: 0;
						}

						.descriptionbuy {
							position: relative;
							max-width: 100%;
							right: 0;

							p {
								width: 80%;
								margin: 0 auto;
							}
						}

						.bookbuttons {
							position: relative;
							bottom: 0;
							right: 0;
							display: flex;
							width: 70%;

							.readmore {
								width: 100%;
								position: relative;
								left: 6em;
							}

							.expanded {
								width: 150%;
								height: auto;
								right: -8em;
							}

							.buy {
								position: absolute;
								right: 3em;
							}
						
						}

						.border {
							position: relative;
							margin-top: 1em;
						}
					}
				}
			}

			.subscribe {
				.form-container {
					max-width: 70%;
					p {
						width: 80%;
						margin: 0 auto;
					}
				}
			}
	}

	@include breakpoint(small) {

	#listicle {

		#listicle-intro {

			width: 90%;

			h1 {
				font-size: 2em;
			}
		}
	}
    
		#listicle-bio {

			.bio-content {

			width: 90%;

				.profile {
					flex-direction: column;

					.profilepic {
						width: 60% !important;
					}

					.profilebio {
						text-align: center;
					}

				}
			
			}

			.books {
				width: 100% !important;
			}
		}

		#listicle-books {
			.booktile {
				width: 100%;
				.bookbuttons {
					.buy {
						right: -0.1em !important;

					}
					.readmore {
						left: 0 !important;
					}
					.expanded {
						width: 130% !important;
						right: -2em !important;
					}
				}
			}
		}


		.subscribe {
			.form-container {
				max-width: 100%;
			}
		}

	}   
