
/* Home Survey */

.survey-content {

    h3 {
        text-align: center;
        margin: 0.5em;
    }

    p {
        text-align: center;
    }

    .homesurvey {
        margin: 2em 0 0 0;
        background-color: rgba(255,255,255,0.2) !important;
        padding: 2em 2em 5em 2em;
        color: white;

        label {
            color: white;
        }

        .button {
            margin-top: 1em;
            float: left;
        }

        #other {
            width: 60%;
            height: 1.5em;
            border: 1px solid white;
        }

    }
}